---
import { Icon } from 'astro-icon'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import { SiteMetadata } from '../config'
import coverImage from '../assets/svg/undraw/undraw_contact_us.svg'
import socialImage from '../assets/undraw/undraw_contact_us.png'
import { getCollection } from 'astro:content'

const frontmatter = {
  title: 'Contact',
  description: 'Our presence is real and digital. Contact us through the following ways.',
  coverImage: coverImage,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime
}

const social = await getCollection('social')
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverImage={coverImage}
      socialImage={socialImage}
    />
  </header>
  <main>
    <div class="bg-pink-100 p-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-6">
        <div class="lg:col-span-1">
          <div class="px-4 sm:px-0">
            <p class="mb-6 text-gray-600">
              Our common id across Facebook, Twitter and Instagram is @HelloThamCom. In addition,
              you may contact us through the following​ means:
            </p>
            {
              social.map(
                (method) =>
                  method.data.link && (
                    <div class="mb-6 w-full shrink-0 grow-0 basis-auto">
                      <div class="flex items-start">
                        <div class="shrink-0">
                          <Icon
                            pack="bi"
                            name={method.data.icon}
                            class="flex h-12 w-12 items-center justify-center rounded-md bg-purple-600 p-2 text-white shadow-md"
                          />
                        </div>
                        <div class="ml-6 grow">
                          <p class="font-bold">{method.data.name}</p>
                          <p>
                            <a
                              href={method.data.link}
                              class="text-sm text-purple-600 hover:text-pink-600 dark:text-purple-300 dark:hover:text-pink-300">
                              {method.data.link}
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  )
              )
            }
          </div>
        </div>

        <div class="mb-24 mt-5 lg:col-span-2 lg:mt-0">
          <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
            <p class="hidden">
              <label>
                Don’t fill this out if you’re human: <input name="bot-field" />
              </label>
            </p>
            <input type="hidden" name="form-name" value="contact" />
            <div class="overflow-hidden shadow sm:rounded-md">
              <div class="bg-white px-4 py-5 sm:p-6">
                <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-6">
                    <label for="name" class="block text-sm font-medium text-gray-700"> Name</label>
                    <input
                      type="text"
                      id="name"
                      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
                    />
                  </div>

                  <div class="col-span-6">
                    <label for="email" class="block text-sm font-medium text-gray-700">
                      Email address
                    </label>
                    <input
                      type="email"
                      id="email"
                      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
                    />
                  </div>

                  <div class="col-span-6">
                    <label for="phone" class="block text-sm font-medium text-gray-700">
                      Phone
                    </label>
                    <input
                      type="tel"
                      id="phone"
                      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
                    />
                  </div>

                  <div class="col-span-6">
                    <label for="subject" class="block text-sm font-medium text-gray-700">
                      Subject
                    </label>
                    <input
                      type="text"
                      id="subject"
                      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
                    />
                  </div>

                  <div class="col-span-6">
                    <label for="text" class="block text-sm font-medium text-gray-700">
                      Message
                    </label>
                    <textarea
                      class="form-textarea mt-1 block h-32 w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
                      rows={5}
                      id="text"
                      placeholder="Enter your message here."></textarea>
                  </div>
                </div>
              </div>

              <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                <button
                  type="submit"
                  class="inline-flex justify-center rounded-md border border-transparent bg-purple-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</Base>
